# **Python notas**
____

![texto alternativo](https://www.python.org/static/community_logos/python-logo-master-v3-TM.png)

Python es un lenguaje de programación interpretado cuya filosofía hace hincapié en una sintaxis que favorezca un código legible. Se trata de un lenguaje de programación multiparadigma, ya que soporta orientación a objetos, programación imperativa y, en menor medida, programación funcional. Es un lenguaje interpretado, de tipado fuerte, dinámico y multiplataforma.

**Caracteristicas.**

*   Lenguaje de alto nivel.
*   Tipado dinamico y fuerte.
*   Orientado a objetos.
*   Open source.
*   Interpretado. 
*   Multiplataforma.


**Historia**

Python fue creado a finales de los ochenta por Guido van Rossum en el Centro para las Matemáticas y la Informática (CWI, Centrum Wiskunde & Informatica), en los Países Bajos, como un sucesor del lenguaje de programación ABC.


**Que es pip**

PiP es un acrónimo recursivo de " Pip Installs Packages ". Es esencialmente un sistema de administración de paquetes utilizado para instalar y administrar paquetes de software escritos en Python **py -m pip install pandas**



**Donde programar ?**

* Consola (.py)
* Bloc de notas
* ipython (Interactive python)
* jupyter notebook (.ipynb)
* jupyter.org (nube)
* Colaboratory (google)
* IDLE
* Spyder (Distribución anaconda navigator)


**Librerias mas usadas en python**
* NumPy (soporte para vectores y matrices)
* scipy (computacion cientifica)
* pandas (estadistica, data frame)
* scikit learn (machine learning)
* tensorflow (redes neuronales)
* astropy (para astronomia)
* matplotlib (graficacion)
* pytorch


**Tipos de datos en Python** (lo veremos en detalle mas adelante)
* Enteros (int)
* Booleanos (bool) (compatibles con opeaciones booleanas and, or, not.)
* Cadenas (str)
* Listas: Son un grupo o array de datos (mutables)
* Diccionarios: Son un grupo de valores o datos que se acceden a travéz de una clave
* Tuplas: también son un grupo de datos igual que una lista (pero inmutables)

***Usa la estadística como un borracho usa las farolas, para el apoyo en lugar de la iluminacion - Andrew Lang***

In [ ]:
# Para tener en cuenta en este mundo maravilloso de la programación. 
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

## **Operadores comunes**
---

longitud de una cadena, tupla, lista, diccionario, etc.

In [ ]:
len("hola")

4

Para observar el tipo de dato usamos la función type()

In [ ]:
type(8.5)

float

Redondear.

In [ ]:
# redondeando a 3 cifras decimales
round(8.12345678, 3 )

8.123

Organizar un conjunto

In [ ]:
sorted([1,8,9,6,4,])

[1, 4, 6, 8, 9]

funciones o metodos que se pueden aplicar a un tipo de datos

In [ ]:
a = "hola mundo"
dir(a)

## **Nuestro primer programa**

In [ ]:
import turtle
#window = turtle.Screen()
esteban = turtle.Turtle()
esteban.fordwar(50)
esteban.left(90)
esteban.fordwar(50)
esteban.left(90)
esteban.fordwar(50)
esteban.left(90)
esteban.fordwar(50)
esteban.left(90)
turtle.mainloop()

TclError: ignored

**Imprimir**
---

En Python existe una amplia manera de imprimir resultados en pantalla, aquí mostraremos algunas de ellas.

In [ ]:
# Primero definamos algunas variables para trabajar.
a = 8
b = 8.8
c = "Unalytics"

In [ ]:
# Forma 1.
print("hola mundo")

# Forma 2.
print(a, b, c)
print("a:", a, "b:", b, "c:", c)
print("resultado", a*b)
print("Escribir algo entre \"comillas\"")

# Forma 3. (Especificadores de formato)
print("numero1: %d numero2: %.2f caracteres: %s" %(a,b,c))

# Forma 4 
print("{} es un float y {} es un caracter".format(b, c))


# Forma 5. (triple comilla)
print("""para que podamos 
incluir saltos 
de linea""")

hola mundo
8 8.8 Unalytics
a: 8 b: 8.8 c: Unalytics
resultado 70.4
Escribir algo entre "comillas"
numero1: 8 numero2: 8.80 caracteres: Unalytics
8.8 es un float y Unalytics es un caracter
para que podamos
incluir saltos
de linea


**Nota:**
```
print("hola mundo")  en  py 3.x  (forma funcional)
print "hola mundo"   en  py 2.x
```

**Entrada**
---

In [ ]:
input()

Esteban

'Esteban'

**Manejo String**
---
Los string son inmutables, la comparación de cadenas se hace en orden lexicográfico.

In [ ]:
"b" > "a"

True

In [ ]:
text = "hola, como vas?"

In [ ]:
# acceder por indice al strig
text[0]

'h'

In [ ]:
# longitud del string
len(text)

15

In [ ]:
# acceder al ultimo caracter
text[len(text)-1]

'?'

### Slices (rebanada)

In [ ]:
string = "sabrina"

In [ ]:
string[1:]

'abrina'

In [ ]:
string[2:4]

'br'

In [ ]:
# del cero hasta el final en saltos de 2
string[0::2]

'sbia'

In [ ]:
# sabrina al revés
string[::-1]

'anirbas'

**ASCII vs Unicode**

Codificadores de carácteres
ASCII (American Standart code for informaticon interchage)

Unicode (integra casi la mayoria de los alfabetos del mundo)

## **Estructuras de control**
---

### Condicional-If

In [ ]:
# Declarando variables 
numero_1 = 80
numero_2 = 10

# condicional (if)
if numero_1 > numero_2:
  print("numero_1 es mayor")
else:
  print("numero_1 no es mayor")
  
# Nota: Muy importante la identación.

numero_1 es mayor

In [ ]:
nota = int(input("Ingrese su nota: "))

if nota < 3:
  print("Perdio")
elif nota <= 4:
  print("gano")
elif nota <= 5:
  print("exelente")
else:
  print("nota incorrecta")

In [ ]:
# concatenacion de operadores de condicion

edad = int(input("ingrese edad: \n"))
if 0<edad<100:
  print("edad correcta")
else:
  print("edad incorrecta")

In [ ]:
number = int(input("Escribe un número: "))

def is_prime(number):
  if number < 2:
    return False
  elif number == 2:
    return True
  elif number > 2 and number % 2 == 0:
    return False
  else:
    for i in range(3, number):
      if number % i == 0:
        return False
      
  return True

result = is_prime(number)
if result is True:
  print("Tu número es primo")
else:
  print("Tu número no es primo")

Escribe un número: 7
Tu número es primo

**Operadores logicos (and, or, in )**

### Ciclos-For

In [ ]:
# Generador de rangos (secuencias)
range(0,5)

range(0, 5)

In [ ]:
# imprimir rando de 0 a 5 en pasos de 2
for i in range(0,10,2):
  print(i)

0
2
4
6
8

In [ ]:
for i in range(30):
  if i % 3 != 0:
    continue
  else:
    print(i**2)

0
9
36
81
144
225
324
441
576
729

In [ ]:
# break para romper ciclos.
for i in range(30):
  if i % 2 == 0:
    print(i)
  elif i == 17:
    break

0
2
4
6
8
10
12
14
16

### While loop

Otra forma de hacer iteraciones es con el while loop, éste ciclo se ejecuta MIENTRAS la condición se evalúe como verdadera, el ciclo termina cuando la evaluación resulta en falso.

In [ ]:
i = 0
while i < 5:
  print(i)
  i += 1

0
1
2
3
4

Función para mirar si nuestra palabra es un palíndromo

In [ ]:
# para verificar si nuestra palabra es o no un palindromo
def palindromo(word):
  revertida = word[::-1]
  if word == revertida:
    return True
  else:
    return False

In [ ]:
palindromo("ojo")

True

**Funciones**
---
Son un bloque de código que realizan una tarea especifica, Las funciones pueden o no devolver valores, pueden tener parámetros o no, las funciones se crean con la palabra reservada ```def``` (definir).

Fujo: de arriba y hacia abajo de izquierda a derecha, esto cambia si definimos funciones.

In [ ]:
# creando (declarando) función
def nombre_de_la_funcion(a, b):
  c=a**b
  return(c)
  
# Nota: return es opcional

In [ ]:
# llamado a la función
nombre_de_la_funcion(a=2, b=3)

In [ ]:
# otra función 
import turtle
def main():
  window = turtle.Screen() # abrir una ventana
  esteban = turtle.Turtle() # eneramos una tortuga
  make_square(esteban) # llamado a la funcion hacer un cuadraro

def make_square(esteban):
  length = int(input("Tamañano del cuadrado: ")) # piediendo el tamaño de la tortuga
  for i in range(4):
    make_line_and_turn(esteban, length)

def make_line_and_turn(dave, length):
  esteban.forward(length)
  esteban.left(90)

if __name__ == '__main__':
  main()

In [ ]:
#
def foreing_exchange_calculator(ammount):
  col_to_usa_rate = 3000
  return(col_to_usa_rate*ammount)

print("CALCULADORA DE DIVISAS")
print("")
ammount = float(input("Ingrese cantidad de dolares: "))
result = foreing_exchange_calculator(ammount)
print("${} dolares son ${} pesos".format(ammount, result))

CALCULADORA DE DIVISAS

Ingrese cantidad de dolares: 5
$5.0 dolares son $15000.0 pesos

In [ ]:
True or False

True

## **Estructuras de datos**
---

### Listas

Estructura de datos que permite alamcenar valores (lista = array en R).

Puede almacenar diferentes tipos de valores, podemos acceder en ella a través de indices

* Se puede sumar listas
* Se puede multiplicar listas
* Son mutables

Consultar métodos para listas

In [ ]:
# creando una lista vacía
my_first_list = list()

In [ ]:
# agregando elemento a la lista
my_first_list.append("first_element")
print(my_first_list)

['first_element']

In [ ]:
# Creando lista
my_second_list = [8, 8.8, "UNAL", "Med", 100, True, False]
# tipo
type(my_second_list)

list

In [ ]:
# Sumando listas 
total_list = my_first_list + my_second_list
print(total_list)

['first_element', 8, 8.8, 'UNAL', 'Med', 100, True, False]

Accediendo a elementos **(slices)**

In [ ]:
#Imprimiendo elementos
print(total_list[:])

['first_element', 8, 8.8, 'UNAL', 'Med', 100, True, False]

In [ ]:
# Accediendo a un elemento
total_list[0]

'first_element'

In [ ]:
# Modificando elemento de una lista. 
mi_lista[0] = "Unalytics_team"
print(mi_lista)

['Unalytics_team', 8.8, 'Unalytics', 'UN', 100, True, False]

In [ ]:
# Accediendo a un conjunto de elementos [2:] desde el tercer elemnto hasta el final de la lista
mi_lista[2:]

['Unalytics', 'UN', 100, True, False]

In [ ]:
# borrando el primer elemnto
del mi_lista[0]
print(mi_lista)

[8.8, 'Unalytics', 'UN', 100, True, False]

Agregando elementos **(appen, insert, extend, index, in)**

In [ ]:
mi_lista.append("Colombia")

In [ ]:
mi_lista.insert(0, "Medellín")

In [ ]:
mi_lista.extend(["otra lista", "Sabrina"])

In [ ]:
mi_lista.index("Unalytics")

3

In [ ]:
"Unalytics" in mi_lista

True

Casting Strings y Listas

In [ ]:
# cast
string = "Unalytics"
mi_lista = list(string)
mi_lista

['U', 'n', 'a', 'l', 'y', 't', 'i', 'c', 's']

### **Tuplas**


Las tuplas son listan inmutable (no podemos modificarlas).

permiten comprobación (in)

Ventajas: Mayor rendimiento

Convertir tupla a lista : list()

Convertir lista a tupla: tuple()

Desempaquetado de tupla.

In [ ]:
# Creando tupla
mytuple = ("1", 2, 3, "Unalytics", True, False)

In [ ]:
mi_tupla

('1', 2, 3, 'Unalytics', True, False)

In [ ]:
len(mi_tupla)

6

### **Diccionarios**
___

Los datos se almacenan como **Clave : Valor**

Cualquier tipo de datos (lista, tuplas, otro diccionario)

In [ ]:
mydict = dict()

In [ ]:
mi_diccionario = {"Colombia":["Medellín", "Bogotá"], 
                  "USA":"New york", 
                  "numeros":(1,2,3)}

for key in mi_diccionario.items():
  print(key)

('Colombia', ['Medellín', 'Bogotá'])
('USA', 'New york')
('numeros', (1, 2, 3))

In [ ]:
mi_diccionario["Colombia"][:]

['Medellín', 'Bogotá']

In [ ]:
mi_diccionario["Animales"]=["perro", "gato"]

In [ ]:
mi_diccionario

{'Animales': ['perro', 'gato'],
 'Colombia': ['Medellín', 'Bogotá'],
 'numeros': (1, 2, 3)}

In [ ]:
# Eliminando valores
del mi_diccionario["USA"]

In [ ]:
mi_diccionario.keys()

dict_keys(['Colombia', 'numeros', 'Animales'])

Más sobre diccionarios

In [ ]:
mi_diccionario = {}
mi_diccionario['primer_elemento'] = "hola"
mi_diccionario['segundo_elemnto'] = "adios"
mi_diccionario

{'primer_elemento': 'hola', 'segundo_elemnto': 'adios'}

Iterando sobre diccionarios.

In [ ]:
calificaciones = {'Algoritmos':9, 'Matematicas':10, 'web':8, 'BD':10 }
calificaciones

{'Algoritmos': 9, 'BD': 10, 'Matematicas': 10, 'web': 8}

In [ ]:
# iterando sobre las claves.
for key in calificaciones.keys():
  print(key)

Algoritmos
Matematicas
web
BD

In [ ]:
# Iterando sobre los valores.
for value in calificaciones.values():
  print(value)

9
10
8
10

In [ ]:
# sobre los key y los valores
for key, value in calificaciones.items():
  print('LLave:{} y Valores: {}'.format(key, value))

LLave:Algoritmos y Valores: 9
LLave:Matematicas y Valores: 10
LLave:web y Valores: 8
LLave:BD y Valores: 10

### **Set** (conjunto)
---
Los sets son muy parecidos a las listas solo que no permiten elementos repetidos
**Operaciones:** (Operaciones entre conjuntos)
* Union (sin repetir elementos)
* Intersección (elementos en común)
* Diferencia

In [ ]:
# Definiendo los sets (conjuntos)
s = set([1, 2, 3])
t = set([3, 4, 5])

In [ ]:
# Union
s.union(t)

{1, 2, 3, 4, 5}

In [ ]:
# Intersección
s.intersection(t)

{3}

In [ ]:
# Diferencia
s.difference(t)

{1, 2}

In [ ]:
# Como sabemos si un elemento esta dentro de un set (3 esta en el set s ??)
3 in s

True

In [ ]:
3 not in s

False

In [ ]:
myset = {"1", 2, 3, "UNAL", True, False }
myset

{'1', 2, 3, False, True, 'UNAL'}

### Dictionary comprehension - list comprehension
---

In [ ]:
# Hagamos una lista de números pares.
even = []
for num in range(0, 21):
  if num % 2 == 0:
    even.append(num)

In [ ]:
# Imprimiendo números pares. 
even

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

**comprehension**

In [ ]:
# list comprehension
even = [num for num in range(0, 21) if num % 2 == 0]
even

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [ ]:
newlist = [x for x in range(10)]

Hagamos un diccionario con el número como clave y el cudrado de ese número como su valor

In [ ]:
# Hagamoslo de la manera tradicional
cuadrados = {}
for num in range(1, 11):
  cuadra = num**2
  cuadrados[num] = cuadra 
print(cuadrados)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [ ]:
# ahora hagamoslo con comprehension
# El valos que quiero y luego las restricciones
cuadrados = {num: num**2 for num in range(1,11)}
cuadrados

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

## **Manejo de Errores**
---
**Consultar jerarquia de errores en python**

Manejo de errores con **try/except/else/finally.**

In [ ]:
# Ejemplo 1
# creando diccionario
countries = {
    'mexico':122,
    'colombia':49
}

while True:
    country = str(input("Escribe el nombre de un pais: ")).lower()  # para asegurar siempre minusculas
    try:
        print("la poblacion {} es {} millones".format(country, countries[country]))
    except KeyError: # manejando el tipo de error
        print("No esta el dato de la poblacionde {}".format(country))

In [ ]:
# Ejemplo 2
def division(num1, num2):
  # lo que tiene que intentar el programa
  try:
    division = num1 / num2
    print("El resultado es: ", division)
  # lo que tiene que sacar en caso que se encuntre con el error
  except ZeroDivisionError:
    print("Esta intentando dividir por cero")
  finally:
    print("Esto siempre se ejecuta, caiga o no en el error")

In [ ]:
division(10,0)

Esta intentando dividir por cero
Esto siempre se ejecuta, caiga o no en el error

In [ ]:
def division(num1, num2):
   # what the program has to try
   try:
     division = num1 / num2
     print("The result is: ", division)
   # what to output in case you run into the error
   except ZeroDivisionError:
     print("You are trying to divide by zero")
   finally:
     print("This always runs whether or not it hits the error")

## Manejo de archivos
---
Python puede leer y escribir archivos haciendo uso de la funcion open (OJO no hay Ctrl + Z ) No nos podemos devolver en los cambios.
* La función **open** regresa un objeto archivo (file)
* Los archivos pueden ser de texto o binarios
* Se debe especificar el modo en el que se se maneja los archivos
  * 'r' = read
  * 'w' = write
  * 'a' = append
  * 'r+'= read and write
* El Archivo se debe cerrar con el método **close**
* Hacemos uso del manejador de contexto **with**

In [ ]:
# Escribamos un archivo.
with open('numeros.txt', 'w') as f:
        for i in range(10):
            f.write(str(i))

In [ ]:
# Leamos el archivo (ver)
with open('numeros.txt', 'r') as f:
  print(f.readline())

0123456789

## **Programación orientada a objetos**
---
Las clases y objetos:
* Permiten definir tipos propios
* Permite manejar datos y lógica en un solo contenedor
* Las clases son como moldes para crear otros objetos.
* Poseen atributos
* Las clases pueden tener ***variables de clase, variables de instancia*** y variables locales
* **insintance y hasattr** (funciones)
* Los métodos son como funciones que solo tienen sentido dentro de una clase (o objeto)
* Los métodos privados se definen con un guión bajo 
* La **encasulapción** (esconder la complejidad) es un concepto clave de la programación orientada a objetos.
* Un método clave que casi todas las clases deben tener es __init__
* Otro es __str__
* Existen varios tipos de métodos: estáticos, de instancia, getters, setters

In [ ]:
# -*- coding: utf-8 -*-
class Lamp: # Escribir en mayusculas
  #variable de clase (lista)
    _LAMPS = ['''  
          .
     .    |    ,
      \   '   /
       ` ,-. '
    --- (   ) ---
         \ /
        _|=|_
       |_____|
    ''',
    '''
         ,-.
        (   )
         \ /
        _|=|_
       |_____|
    ''']
# Método constructor 
    def __init__(self, is_turned_on): # siempre recibir self (instancia) (contructor de clase __init__ )
        self._is_turned_on = is_turned_on  # Estado inicial
# Cambiar el estado
    def turn_on(self): # método público 
        self._is_turned_on = True
        self._display_image() # mostrando lampara

    def turn_off(self):
        self._is_turned_on = False
        self._display_image() # mostrnado lampara

    def _display_image(self): # metodo privado
        if self._is_turned_on:
            print(self._LAMPS[0])
        else:
            print(self._LAMPS[1])

def run():
  lamp = Lamp(is_turned_on=False)

  while True:
    command = str(input('''
        ¿ Que deseas hacer ?
        [p] Prender
        [a] Apagar
        [s] Salir
    '''))
    if command == 'p':
      lamp.turn_on()
    elif command == 'a':
      lamp.turn_off()
    else:
      break

if __name__ == '__main__': # definiendo punto de acceso
  run()

        ¿ Que deseas hacer ?
        [p] Prender
        [a] Apagar
        [s] Salir
    p

          .
     .    |    ,
      \   '   /
       ` ,-. '
    --- (   ) ---
         \ /
        _|=|_
       |_____|


        ¿ Que deseas hacer ?
        [p] Prender
        [a] Apagar
        [s] Salir
    a

         ,-.
        (   )
         \ /
        _|=|_
       |_____|


        ¿ Que deseas hacer ?
        [p] Prender
        [a] Apagar
        [s] Salir
    s

In [ ]:
cd class Estudiante(object): 
  def __init__(self,nombre_r,edad_r):
    self.nombre = nombre_r
    self.edad = edad_r 

  def hola(self):
    return "Mi nombre es %s y tengo %i" % (self.nombre, self.edad)

In [ ]:
e = Estudiante("Arturo", 21) 
print(e.hola())

Mi nombre es Arturo y tengo 21

**Métodos especiales**
___

**```cmp(self,otro)```**

Método llamado cuando utilizas los operadores de comparación para comprobar si tu objeto es menor, mayor o igual al objeto pasado como parámetro.

**```len(self)```**
Método llamado para comprobar la longitud del objeto. Lo usas, por ejemplo, cuando llamas la función len(obj) sobre nuestro código. Como es de suponer el método te debe devolver la longitud del objeto.

**```init(self,otro)```**
Es un constructor de nuestra clase, es decir, es un “método especial” que es llamas automáticamente cuando creas un objeto.

**Recursividad**
---
Calcular el factorial de un numeor usando recursividad.

**Importante** Establecer el caso base (number == 0) de nuestra función recursiva.

In [ ]:
## Clacular el factorial de un número 
def factorial(number):
  if number == 0:
    return(1)
  return (number*factorial(number-1))

if __name__ == '__main__':
  number = int(input("Escribe un número entero: "))
  result = factorial(number)
  print(result)

Escribe un número entero: 4
24

In [ ]:
number = int(input("Ingrese el número: "))
def factorial(number):
  if number == 0:
    return(1)
  else:
    return(number*factorial(number-1))

result = factorial(number)
result

Ingrese el número: 3

6

In [ ]:
def factorial(number):
  if number == 0:
    return(1)
  else:
    return(number*number-1)

resultado = factorial(number)
print(resultado)

## **Busqueda Binaria**
---

In [ ]:
# -*- coding: utf-8 -*-
def binary_search(numbers, number_to_find, low, high):
  # primer caso base
    if low > high:
        return False
    mid = int((low + high) / 2)
    if numbers[mid] == number_to_find:
        return True
    elif numbers[mid] > number_to_find:
        return binary_search(numbers, number_to_find, low, mid - 1)
    else:
        return binary_search(numbers, number_to_find, mid + 1, high)

if __name__ == '__main__':
    numbers = [1, 3, 4, 5, 6, 9, 10, 11, 25, 27, 28, 34, 36, 49, 51]

    number_to_find = int(input('Ingresa un número: '))

    result = binary_search(numbers, number_to_find, 0, len(numbers) - 1)

    if result is True:
        print('El número sí está en la lista.')
    else:
        print('El número NO está en la lista.')

Ingresa un número: 36
El número sí está en la lista.

## **Decoradores**

Un decoradores una función que recibe otra función y regresa una tercera función.

Para reconocer un decorador, puedes ver que tienes un arroba sobre la declaración de una función.

In [ ]:
# -*- coding: utf-8 -*-


def protected(func):
    def wrapper(password):
        if password == 'Esteban':
            return func()
        else:
            print('La contraseña es incorrecta')

    return wrapper

# decorador
@protected
def protected_func():
    print('Tu contraseña es correcta.')


if __name__ == '__main__':
    password = str(input('Ingresa tu contraseña: '))

    protected_func(password)

## **Entornos virtuales**

* PyPi (Python package index) es un repositorio de paquetes de terceros que se pueden utilizar en proyectos de python

* Se pueden instalar los paquetes ejecutando `pip install <nombre del paquete>`

* Se pude agrupar la instalacion de varios paquetes con el archivo `requirements.txt `(para definir versiones)

**Consultar:**

* Interprete global
* Ambiente virtual
* Como instalar pip ?

In [ ]:
# Para trabajar con ambientes virtuales
! pip install virtualenv

In [ ]:
# Para crear nuestro primer ambiente virtual.  virtualenv <nombre del ambiente>
! virtualenv venv

In [ ]:
# Para incializar nuestro ambiente virtual
! source venv/bin/activate


```
(venv) (base) esteban@Lenovo-G40-70:
```

In [ ]:
# Para mirar que paquetes tenemos en nuestro ambiente
!pip freeze

In [ ]:
# Para instalar desde requirements.txt 
!pip install -r requirements.txt

Hagamos nuestro primer servidor web

In [ ]:
from flask import Flask 
# del modulo importe la case

# generado una instancia de Flask
app = Flask(__name__)

@app.route('/')
def hello_world():
    return 'Hola, ingenieros de software'

if __name__ == '__main__':
    app.run()

**Practica**
---

atributo (sin parecentesis)
metodo (con parentesis)

In [ ]:
# cargando libreria
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
auto = pd.read_csv("https://raw.githubusercontent.com/unalyticsteam/databases/master/auto-mpg.csv")

In [ ]:
auto.head()

,No,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,car_name
0,1,28.0,4,140.0,90,2264,15.5,71,chevrolet vega 2300
1,2,19.0,3,70.0,97,2330,13.5,72,mazda rx2 coupe
2,3,36.0,4,107.0,75,2205,14.5,82,honda accord
3,4,28.0,4,97.0,92,2288,17.0,72,datsun 510 (sw)
4,5,21.0,6,199.0,90,2648,15.0,70,amc gremlin

In [ ]:
auto.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   No            398 non-null    int64
 1   mpg           398 non-null    float64
 2   cylinders     398 non-null    int64
 3   displacement  398 non-null    float64
 4   horsepower    398 non-null    int64
 5   weight        398 non-null    int64
 6   acceleration  398 non-null    float64
 7   model_year    398 non-null    int64
 8   car_name      398 non-null    object
dtypes: float64(3), int64(5), object(1)
memory usage: 28.1+ KB

In [ ]:
# convertir cilindros a variable categorica
#auto['model year']
# objeto serie (analogo a vector en R)
auto.model_year = auto.model_year.astype('category')
auto.cylinders = auto.cylinders.astype('category')

type(auto.model_year)

pandas.core.series.Series

In [ ]:
auto.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   No            398 non-null    int64
 1   mpg           398 non-null    float64
 2   cylinders     398 non-null    category
 3   displacement  398 non-null    float64
 4   horsepower    398 non-null    int64
 5   weight        398 non-null    int64
 6   acceleration  398 non-null    float64
 7   model_year    398 non-null    category
 8   car_name      398 non-null    object
dtypes: category(2), float64(3), int64(3), object(1)
memory usage: 23.5+ KB

**Analisis descriptivo**
___

In [ ]:
# summary en R
round(auto.describe(), 2)

           No     mpg  displacement  horsepower   weight  acceleration
count  398.00  398.00        398.00      398.00   398.00        398.00
mean   199.50   23.51        193.43      104.13  2970.42         15.57
std    115.04    7.82        104.27       38.31   846.84          2.76
min      1.00    9.00         68.00       46.00  1613.00          8.00
25%    100.25   17.50        104.25       76.00  2223.75         13.82
50%    199.50   23.00        148.50       92.00  2803.50         15.50
75%    298.75   29.00        262.00      125.00  3608.00         17.18
max    398.00   46.60        455.00      230.00  5140.00         24.80

**Filtros**

loc & iloc
fltros sobre texto y filtro sobre indices

In [ ]:
# filtros por indices
auto.iloc[3,]

No                            4
mpg                        28.0
cylinders                     4
displacement               97.0
horsepower                   92
weight                     2288
acceleration               17.0
model_year                   72
car_name        datsun 510 (sw)
Name: 3, dtype: object

In [ ]:
# para extraer toda la columa
auto.loc[mpg]

NameError: ignored

In [ ]:
# filtar por carros de 4 y 6 cylindros

auto.loc[auto.cylinders == 4 ].head()

In [ ]:
#### Ejercicio  http://codeforces.com/contest/136/problem/A
import numpy as np
N = int(input("Ingrese el numero de amigos: "))
if N <= 100:
   s = input("Ingrese los sujetos separados por espacio: ").split()
   if len(s) == N:
     print(np.random.choice(s, size= len(s), replace=False))
   else: 
     print("Ingreso mas o menos amigos de los especificados")
else:
  print("Ingrese un número menor que 100")

### The number is prime?
Create a function that returns true if the number is prime and false otherwise.

In [ ]:
def is_prime(number):
  if number < 2:
    return False
  elif number == 2:
    return True
  elif number > 2 and number % 2 == 0:
    return False
  else:
    for i in range(3, number):
      if number % i == 0:
        return False
    return True
      
is_prime(6)

True

In [ ]:
list(range(3,6))

[3, 4, 5]

In [ ]:
word = 'Esteban'
word[0] = 'A'

TypeError: ignored

In [ ]:
def facto(number):
  if number == 0:
    return 1
  return number * facto(number-1)

In [ ]:
facto(5000)

RecursionError: ignored

In [ ]:
palindrome = lambda string: string == string[::-1]
palindrome('ana')

True